html {
  color-scheme: dark;
}

body {
  background-color: $background-color;
  color: $base-color;
  font-family: 'Michroma', 'ui-monospace', 'sans-serif';
  font-size: $base-font-size;
  line-height: $line-height;
}

h1, h2, h3, h4, h5, h6 {
  color: $primary-color;
  line-height: $line-height-headline;
  margin: 0;
}

h1 {
  font-size: $h1-font-size;
}
h2 {
  font-size: $h2-font-size
}
h3 {
  font-size: $h3-font-size;
}
h4 {
  font-size: $h4-font-size;
}
h5 {
  font-size: $h5-font-size;
}
h6 {
  font-size: $h6-font-size;
}

a {
  text-decoration: unset;
  color: $primary-color;
}