// Colors
$background-color: hsl(0 0% 17%);
$background-color-lighter: hsl(0 0% 24%);
$base-color: hsl(0 0% 95%);
$primary-color: hsl(220 55% 55%);

@mixin linear-gradient {
background: linear-gradient(90deg, $background-color-lighter 0%, $background-color-lighter 50%, hsl(220 25% 25%) 100%);
}


// Fonts
$base-font: 'Michroma';

// Font Sizes
$base-font-size: 1rem;

$h1-font-size: $base-font-size * 3.5;
$h2-font-size: $base-font-size * 2.5;
$h3-font-size: $base-font-size * 1.25;
$h4-font-size: $base-font-size * 1;
$h5-font-size: $base-font-size * .85;
$h6-font-size: $base-font-size * .75;


$line-height: 1.2em;
$line-height-headline: 1.5em;

// Transitions
$transition: .25s ease-in-out all;

// Sizes
$spacer: 1rem;

// Border
$border: 1px solid;
$border-radius: 2px;