fieldset {
  border: unset;
  padding: unset;
}

select,
input,
textarea{
  width: 100%;
  box-sizing: border-box;
  padding: .5em 1em;
  border: unset;
  border-radius: $border-radius;
  background-color: $background-color-lighter;
  margin-bottom: 1.4em;
  line-height: 1;
}

input {
  &[type="checkbox"] {
    width: auto;
    margin-right: $spacer;
    &, + label {
      cursor: pointer;
    }
  }
}

label {
  display: inline-block;
  margin-bottom: .25em;
}